<script type="text/javascript" src="/public/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/public/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/public/background/qing/js/H-ui.min.js"></script>
<script type="text/javascript" src="/public/background/qing_admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="/public/common/common.js"></script>
<script type="text/javascript" src="/public/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/public/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/public/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    function addOrEditAjax () {
        $("form").validate();
        if ($("form").valid()) {
            ajaxSubmit()
        }
    }
</script>
</script>