{{define "content"}}
<form class="Huiform" method="post" action="/admin/navigation/add" target="_self">
<div class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-category-add">
        <div id="tab-category" class="HuiTab">

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">
                        <span class="c-red">*</span>
                        上级导航：</label>
                    <div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
						<select class="select" id="sel_Sub" name="parent_id">
							<option value="0">顶级分类</option>
							<option value="10">分类一级</option>
							<option value="101">&nbsp;&nbsp;├ 分类二级</option>
						</select>
						</span>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">排序：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="99" placeholder="" id="" name="sort">
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">是否显示：</label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="check-box">
                            <input type="checkbox" id="checkbox-pinglun" name="is_show" value="true">
                            <label for="checkbox-pinglun">&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">是否系统默认：</label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="check-box">
                            <input type="checkbox" id="checkbox-pinglun" name="is_sys" value="true">
                            <label for="checkbox-pinglun">&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">导航名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="" placeholder="" id="" name="title">
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">导航链接：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="" placeholder="" id="" name="url">
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">图标：</label>
                    <div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
						<select name="" class="select">
							<option value="1">文章</option>
							<option value="2">图片</option>
							<option value="3">商品</option>
							<option value="4">视频</option>
							<option value="5">专题</option>
							<option value="6">链接</option>
						</select>
						</span>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">权限控制器路由：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <a href="javascript:;" onclick="addNavigation()" class="btn btn-primary radius">
                            <i class="Hui-iconfont">&#xe600;</i> 添加控制器路由
                        </a>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"></label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <table class="table table-border table-bordered table-bg">
                            <thead>
                            <tr class="text-c">
                                <th>名称</th>
                                <th width="40">控制器路由名称</th>
                                <th width="200">排序</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody class="node">

                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input class="btn btn-primary radius" type="button" onclick="addOrEditAjax()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
</form>
{{end}}
{{define "js"}}
<script type="text/javascript">
    function addNavigation(){
        var html = '<tr class="text-c">' +
                '<td><input type="text" name="node_title[]" value=""></td>' +
                '<td><input type="text" name="route_action[]" value=""></td>' +
                '<td><input type="text" name="node_sort[]" value=""></td>' +
                '<td><a title="删除" href="javascript:;" onclick="delSelfTr(this)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>' +
                '</tr>';
        $(".node").append(html);
    }
    function delSelfTr(obj) {
        $(obj).parents("tr").remove();
    }
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#tab-category").Huitab({
            index:0
        });
        $("#form-category-add").validate({
            rules:{

            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                //$(form).ajaxSubmit();
                var index = parent.layer.getFrameIndex(window.name);
                //parent.$('.btn-refresh').click();
                parent.layer.close(index);
            }
        });
    });
</script>
{{end}}